streamlit==1.28.0
numpy==1.21.6
opencv-python-headless==4.5.4.60
Pillow==9.5.0
ultralytics==8.0.196
python-dotenv==1.0.0
matplotlib==3.7.2
pandas==2.0.3
fpdf2==2.7.6
requests==2.31.0
feedparser==6.0.10
beautifulsoup4==4.12.2
streamlit-lottie==0.0.5
